@import url(common.css);
@import url(index.css);

.milsians_box{
  width: 96%;
  height: 700px;
  background: rgba(255, 255, 255, 0.452);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(18);
  border-radius: 10px;
  border: 1.5px solid #b8b8b8;
  padding: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.mils_imgbox{
  width: 650px;
  height: 450px;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #ebebeb;
  overflow: hidden;
}
.milstext{
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.milstext>li>p{
  display: inline;
  font-weight: bold;
}

.milstext>li>span{
  color:#003B8B;
}

.mils_introduce>h1{
padding-bottom: 10px;
border-bottom: 1px solid #003a8b4f;
}

.miltextbox{
  max-width:100%;
}
.miltextbox2{
  height: 480px;
  overflow: scroll;
  overflow-x: hidden
}
.miltextbox2::-webkit-scrollbar {
  width: 10px;
}
.miltextbox2::-webkit-scrollbar-track {
  background-color: rgba(253, 254, 255, 0.171);
}
.miltextbox2::-webkit-scrollbar-thumb { 
  background-color: rgba(123, 158, 255, 0.342);
border-radius: 5px;
height: 40px;
}
.textbox{
  display: flex;
  border-bottom: 1px solid #fff;
  padding: 30px 0px;
  margin-left: 80px;
}
.textbox>.p{
  width: 200px;
  font-size: 18px;
  font-weight: bold;
}
.text_list{
  line-height: 28px;
  color:#003B8B;
  width: 900px;
}
.newimg{
  display: flex;
  justify-content:space-around;
}
.newimg>li{
  width: 200px;
  height: 200px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 20px;
}
#play-pause-button{
opacity: 0;
}
.name_img{
  position: absolute;
  top:150px;
  left:-50px;
  z-index: 100;
  width: 450px;
}
